APP_NAME = 'REGIONAL TRADE INSTITUTE'
NODE_ENV = 'production'
APP_PORT = 3007
APP_URL = "http://localhost:3007"
LIVE_URL = "https://rti-api.zealaraxtechnologies.com"
JWT_KEY = 'rti_api'

DB_HOST="145.223.103.202"
DB_NAME="rti"
DB_USER="zealarax"
DB_PASS="1VOH3gJWvA7wKbFSSVc?"
DB_DIALECT="mysql"

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=niel2264@gmail.com
MAIL_PASS=deemeclvmiexvlzy